/* DEFAULT */
a { cursor: pointer; color:#ffffff; text-decoration: none;}

li { list-style: none; margin:0px; padding:0px;}

p.melding{
	color:red !important;
	font-size: 14px !important;
	line-height: 1 !important;
}

/* THE BASICS */
body{
	background-color: #e3e3e3;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}
#header{
	position: relative;
	background-image:url('../img/layout/header_image.png');
	width: 100%;
	height: 162px;
}
#nav{
	position: relative;
	background-image:url('../img/layout/nav_image.png');
	width: 100%;
	height: 58px;
	border-top: 3px solid #ca2200;
}
#wrapper_header{
	position: relative;
	width: 1000px;
	height: 162px;
	margin: 0 auto;

}
#wrapper_nav{
	position: relative;
	width: 1000px;
	min-height: 58px;
	margin: 0 auto;

}
#wrapper_content{
	position: relative;
	width: 1000px;
	min-height: 100px;
	margin: 0 auto;
	overflow: auto;
	margin-top: 40px;
}
/* ########################*/
/* FORM */
input[type="text"], input[type="password"]{
	background-color: #ededed;
	padding: 5px;
	color: #a1a1a1;
	font-size: 12px;
	border: 1px solid #e3e3e3;
	border-radius: 1px;
	height: 25px;
	width: 45%;
	margin-bottom: 10px;
}

input[type="submit"]{
	background-color: #aa1e01;
	padding: 5px;
	color: #fff;
	font-size: 15px;
	height: 36px;
	width: 137px;
	border: 0;
}

/***************************************/
/* Form pizza zoeken/bestellen */
input[name="searchtagg"] {
	margin-right: 23px;
	width: 375px;
}

select[name="categorie"] {
	width: 155px;
	margin-right: 19px;
}

input[name="searchname"] {
	width: 307px;
}

input[type="text"]:focus{
	outline: none
}
keygen, select, select[size="0"], select[size="1"] {
	background-color: #ededed;
	margin-top: 10px;
	height: 37px;
	font-size: 18px;
	padding: 5px;
	box-sizing: border-box;
	color: #a3a3a3;
	-moz-box-sizing: border-box;
	border-radius: 1px;
	border-color: #e3e3e3;
}
/* ########################*/
/* HEADER */
#header_column{
	position: absolute;
	background-color: #ca2200;
	width: 195px;
	height: 16px;
	bottom: 0px;
	right: 0px;
	padding: 13px 10px;
}

a.login{
	font-size: 13px;
	color: #ffffff;
}

a.login:hover{
	text-decoration: underline;
}

.vertical_divider{
	width: 1px;
	background-color: #981a00;
	height: 30px;
	border-right: 1px solid #d22400;
	margin-left: 115px;
	margin-top: -22px;
}

p.tot_amount{
    font-size: 15px;  color: #ffffff;
    margin-left: 128px;
    margin-top: -25px;
}

/* ########################*/
/* NAV */
.menuitem{
	position: relative;
	min-width: 10px;
	height: 60px;
	padding: 18px;
	float: left;
	color: white;
	font-size: 17px;
	box-sizing: border-box;
}
.menuactive{
	background: #ca2200;
	height: 55px;
}
.menuitem:hover{
	background: #ca2200;
	height: 55px;
}
.menuitem a{
	color: #FFF;
	text-decoration: none;
}

.favorite_menu{
	width: 55px;
	height: 55px;
	float:right;
	background: url("../img/favorite.png") no-repeat scroll 6px 4px transparent;
	background-size: 80%;
	border-left:1px solid #d22400;
}

.favorite_menu:hover{
	background-color: #9c1a00;
}

.favorite_info{
	width: 300px;
	height: auto;
	overflow: auto;
	background: #9c1a00;
	position: absolute;
	right: 0;
	padding-top: 10px;
	top: 55px;
	z-index: 9;
	display:none;
}

.trigger_favo:hover .favorite_info{
	display: block;
}

.favorite_info .product_info {
	width: 270px;
	margin: 10px auto;
	border-bottom: 1px solid #b71f00;
	border-width: 1px;
	position: relative;
}

p.favorite_all{
    font-size: 11px;
    color: #ffffff;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

p.total_amount{
	color: #ffffff;
	margin-left: 215px;
}

p.favorite_all:hover{
	text-decoration: underline;
	cursor: pointer;
}

a.delete_favorite{
    position: absolute;
    right: 6px;
    top: 0;
    color: #ffffff;
}

img.product_thumb {
	height: 40px;
	float: left;
	margin-right: 10px;
}

p.fav_title {
	color: #ffffff;
	margin-top: 0px;
	width: 62%;
	overflow: auto;
}

p.fav_title:hover{
	text-decoration: underline;
}

p.fav_price {
	width: 100%;
	margin-top: -13px;
	color: #ffffff;
}


.cart_menu{
	width: 55px;
	height: 55px;
	float:right;
	background: url("../img/cart.png") no-repeat scroll 11px 16px transparent;
	background-size: 55%;
	border-right:1px solid #981a00;
}

.cart_menu:hover{
	background-color: #9c1a00;
}

.trigger_cart:hover .cart_info{
	display: block;
}

.cart_info{
	width: 300px;
	height: auto;
	overflow: auto;
	background: #9c1a00;
	position: absolute;
	right: 56px;
	padding-top: 10px;
	top: 55px;
	z-index: 9;
	display:none;
}

.cart_info .product_info {
	width: 270px;
	margin: 10px auto;
	border-bottom: 1px solid #b71f00;
	border-width: 1px;
	position: relative;
}

p.favorites{
	font-size: 12px;
	margin-left:23px;
	margin-top:20px;
	font-weight: bold;
	color: #9c1a00;
}

p.cart_all{
    font-size: 11px;
    color: #ffffff;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

p.cart_all:hover{
	text-decoration: underline;
	cursor: pointer;
}

p.cart_amount{
	font-size: 11px;
	margin-left: 32px;
	margin-top: 8px;
	text-align: center;
	font-weight: bold;
	color: #9c1a00;
	background: white;
	width: 14px;
	padding: 1px;
	border-radius: 8px;
	height: 14px;
}



/* ########################*/
/* CONTENT */
.frame{
	position: relative;
	background-color: #FFF;
	min-height: 50px;
}
.location{
	/*width: 575px;*/
}
.infotop{
	position: relative;
	background-color: #b31f00;
	width: 100%;
	height: 50px;
	padding: 15px 0 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #FFF;
	font-size: 11pt;
}
.frame .contentarea{
	position: relative;
	padding: 10px 0 0 15px;
	/* width: 100%; */
	 height: 100%;
	 min-height: 130px;
}
.frame .contentarea p{
	color: #a1a1a1;
	line-height: 1.8;
	font-size: 18px;
	font-weight: normal;
	margin-top: 5px;
	/* -webkit-margin-before: 16px; */;
	/* -webkit-margin-after: 21px; */
	/* -webkit-margin-start: 0px; */
	/* -webkit-margin-end: 0px; */
}
.twocolumnarea{
	position: relative;
	float: left;
	background: #000;
}

/* pizza bestellen/product zoeken */
.pizza_bestellen{
	width: 575px;
	margin-right: 80px;
}
.product_zoeken{
	width:345px;
}

/****** sidebar *****/
.sidebar{
	width: 200px;
	overflow: auto;
	float:left;
	margin-right: 60px;
}

.sidebar .content{
	background: #ffffff;
	height: 100%;
	min-height: 600px;
}

.sidebar li.cat_title{
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #dfdfdf;
}

.sidebar li.cat_title a{
	color: #aa1e01;
    text-transform: uppercase;
}

.sidebar li.product_title{
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #dfdfdf;
}

.sidebar li.product_title a{
    color: #000000;
}

.sidebar li.product_title:hover{
    padding: 15px 0 15px 11px;
    border-left:4px solid #aa1e01;
    border-bottom: 1px solid #dfdfdf;
}
/****** Product overzicht *****/
.product_overzicht{
	width: 740px;
	overflow: auto;
	float:left;
}

.product_overzicht .content{
	background: #ffffff;
	height: 100%;
	min-height: 600px;
	padding: 20px 0 20px 20px;
}

.product_overzicht .content .product{
	width: 200px;
	height: 190px;
	background: #e3e3e3;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.product_img{
	width: 200px;
	height: 100px;
	background: #ffffff;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-top: 10px;
	text-align: center;
}

.product p.price{
	background: #e3e3e3;
	padding: 15px 8px;
	color:#000000;
	position: absolute;
	right: 0;
	top: -14px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 7px;
}

.product p.product_title{
	font-size: 14px;
	color: #aa1e01;
	float: left;
	width:100%;
}

input[name="aantal"] {
	width: 21px;
	height: 21px;
	float: left;
	text-align: center;
	background: #ffffff;
	font-size: 14px;
	color: #aa1e01;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;
}

input[name="favorite"] {
	width: 30px;
	height: 30px;
	margin-top: 7px;
	margin-right: 5px;
	border: none !important;
	background: url("../img/favorite.png") no-repeat scroll 4px 3px transparent;
	background-color: #8d8d8d;
	background-size: 79%;
	color: transparent;
	cursor: pointer;
}

input[name="cart"] {
	width: 117px;
	height: 30px;
	margin-top: 7px;
	border: none !important;
	background: url("../img/cart.png") no-repeat scroll 7px 6px transparent;
	background-color: #8d8d8d;
	background-size: 20%;
	/* color: transparent; */
	padding-bottom: 6px;
	padding-left: 30px;
	cursor: pointer;
}

input[name="cart"].active{
	width: 35px;
	height: 30px;
	margin-top: 7px;
	margin-right: 5px;
	border: none !important;
	background: url("../img/cart.png") no-repeat scroll 7px 6px transparent;
	background-color: #8d8d8d;
	background-size: 60%;
	color: transparent;
	cursor: pointer;

}


input[name="favorite"]:hover, input[name="cart"]:hover {
    background-color: #aa1e01;
}

input[name="favorite"].active, input[name="cart"].active  {
    background-color: #aa1e01;
}

form.product_acties{
	height: 53px;
	float: left;
	margin-top: -11px;
	margin-left: -6px;
}


/**********************************************
FILIAAL ZOEKEN*/

.filiaal_zoeken{
	overflow: auto;
	float:left;
}

.filiaal_zoeken .content{
	background: #ffffff;
	min-height: 115px;
	padding: 20px 20px 20px 20px;
}

input[name="filiaal_invoer"]{
   width:95%;
}

/**********************************************
FILIAAL INFO*/

.filiaal_info{
	overflow: auto;
	float: left;
	width: 628px;
	margin-left: 50px;
}

.filiaal_info .content{
	background: #ffffff;
	height: 100%;
	min-height: 115px;
	padding: 20px 20px 20px 20px;
}
















/* ########################*/
/* CLEARFIX */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/* ########################*/
/* MEDIAQUERIES */